body.flex {
    display: flex;
    flex-direction: column;
    margin: 0px;
    align-items: center;
    justify-content: center;
    background-color: #ffffe7;
    font-weight: 700;
}

body.app {
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
    margin: 50px;
    color: #333;
    font-weight: 400;
    background-color: #fffdee;
}

.bold {
    font-weight: 700;
}

.date {
    font-family: 'Source Sans Pro', sans;
    font-weight: 700;
    font-size: 1.5em;
    color: #66a;
    background-color: #ccd;
    padding-left: 10px;
    padding-bottom: 3px;
    padding-top: 3px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.pill {
    border-radius: 10px;
    margin: 1px 5px 1px 0px;
    padding: 1px 6px 2.5px 6px;
    text-align: center;
    display: inline-block;
    color: white;
}

.type-q {
    background-color: #d75;
}

.type-shell {
    background-color: #777;
}

.type-a {
    background-color: #57d;
}

.here-block {
    background-color: #ffe;
    color: #666;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 3px;
    margin-left: 1em;
    overflow-x: auto;
    max-width: 1000px;
    white-space: pre;
}

.shell {
    background-color: #ffe;
    color: #666;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 3px;
    line-height: 2em;
}

.entry {
    border-left: 1px solid #ccd;
    border-right: 1px solid #ccd;
    border-bottom: 1px solid #ccd;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 5px;
    background-color: white;
    margin-bottom: 20px;
    white-space: pre-wrap;
}


.hero {
    text-align: center;
    color: #555;
    flex: auto auto 0px;
    font-size: 60px;
    font-family: 'Source Sans Pro', sans;

}

a {
    text-decoration: none;
}
