
body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    align-items: center;
    justify-content: center;
    background-color: #ffffe7;
}

.hero {
    text-align: center;
    color: #444;
    flex: auto auto 0px;
    font-size: 60px;
    font-family: 'Source Sans Pro', sans;
    font-weight: 700;
}

a { text-decoration: none; }
